
section{
    .container{
     
        margin-left: auto;
        margin-top: 50px;
       
        display: flex;
        width: 800px;
        height: 500px;
    
        .left-bar{
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            width: 35%;
          
           
            
            h1{
                font-size:xx-large;
                margin-bottom: 30px;
                
            }

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 30px;

                label{
                    font-weight: 500;
                }
                textarea{
                    border: 2px solid #ccc;
                    border-radius: 4px;
                }

                button{
                    width: 50px;
                    height: 25px;
                    border: 2px solid #ccc;
                    border-radius: 2px;

                    &:hover{
                        background-color: lightgrey;
                    }
                }
                #saveBtn{
                    display: none;
                }
            }
        }
        .right-bar{
            overflow:auto;
            overflow-x: hidden;
            
            padding: 70px 30px; 
            flex: 1;
        
            display: flex;
            flex-direction: column;
      
            gap: 35px;

            &::-webkit-scrollbar{
                scrollbar-color: #6969dd #e0e0e0;
                scrollbar-width: thin;
            }

            
            .content-container{

                display: flex;
                flex-direction: column;
                gap:25px;

                .content{
                    display: flex;
                    justify-content: space-between;
                    p{
                        width: 380px;
                    
                    }
                    .items{
                        display: flex;
                        gap: 5px;

                    
                            img{
                                cursor: pointer;
                                width: 15px;
                                height: 15px;
                            }
                       
                        
                    }
                }
            }
        }
        
    }
}




